/* .detailshows {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  padding: 100px;
}
.detailshows.img {
  position: absolute;
  width: 446px;
  height: 506px;
  left: 451px;
  top: 62px;
} */
