.navbar {
  margin-left: 100px;
  height: 80px;
  position: fixed;
  background-color: #1e2550;
}
.navbar > span {
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
}
.form-control::placeholder {
  font-size: 20px;
  color: blueviolet;
  padding: 10px;
}
.navbar > form {
  width: 70%;
  margin-left: 30px;
}
