.Screen_section {
  position: absolute;
  width: 1600px;
  height: 900px;
  left: 160px;
  top: 90px;
  background: #1e2550;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.Screen_section {
  border: 10px solid white;
}
.image_section {
  position: absolute;
  width: 583px;
  height: 880px;
  background: #3e4466;
  box-shadow: 10px 0px 25px rgba(9, 11, 40, 0.25);
  border-radius: 40px 0px 0px 50px;
}
.imgSingh {
  position: absolute;
  width: 422px;
  border: none;
  height: 320px;
  background-image: url(../Assets/log.png);
  left: 85px;
  right: 91px;
  top: 266px;
  bottom: 429.26px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}
.logIn_logo {
  position: absolute;
  width: 250px;
  height: 52px;
  left: 959px;
  background: url(..//Assets/purple_logo\ 1.png);
  top: 100px;
}
.Screen_section ::placeholder {
  position: absolute;
  width: 75%;
  top: 50%;
  height: 75%;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.Playlist_name {
  position: absolute;
  width: 480px;
  height: 60px;
  left: 854px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  top: 250px;
  background: #090b28;
  border-radius: 10px;
}
.Username {
  position: absolute;
  width: 480px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  left: 854px;
  top: 350px;
  background: #090b28;
  border-radius: 10px;
}
.Password {
  position: absolute;
  width: 480px;
  height: 60px;
  left: 854px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  top: 450px;
  background: #090b28;
  border-radius: 10px;
}
.Input_url {
  position: absolute;
  width: 480px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  left: 854px;
  top: 550px;
  background: #090b28;
  border-radius: 10px;
}
.Forget {
  position: absolute;
  width: 176px;
  height: 26px;
  left: 1180px;
  top: 630px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #bc43da;
}
.Login_btn {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 1010px;
  top: 670px;
  background: #474e79;
  border-radius: 10px;
}
.Service {
  color: #bc43da;
  font-weight: bold;
}
.checkbox {
  position: absolute;
  left: 860px;
  top: 750px;
  height: 20px;
  width: 20px;
  background-color: #bc43da;
  border: 10px, solid, #bc43da;
}
.cb_text {
  position: absolute;
  width: 413px;
  height: 28px;
  left: 890px;
  top: 750px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
